@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterMedium';
  src: url('/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'InterSemi';
  src: url('/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: url('/Inter-Bold.ttf') format('truetype');
}
